<?xml version="1.0"?>
<configuration>
    <configSections>
        <section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate"/>
    </configSections>
    <hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
        <session-factory>
            <property name="proxyfactory.factory_class">
                NHibernate.ByteCode.Castle.ProxyFactoryFactory,
                NHibernate.ByteCode.Castle
            </property>
            <property name="dialect">
                NHibernate.Dialect.MsSql2008Dialect,
                NHibernate
            </property>
            <property name="connection.connection_string_name">PraiseBase</property>
            <property name="adonet.batch_size">
                100
            </property>
            <mapping assembly="Concepts.Core"></mapping>
        </session-factory>
    </hibernate-configuration>
    <connectionStrings>
        <add name="Concepts" connectionString="Data Source=localhost\sqlexpress;Integrated Security=True;Initial Catalog=Concepts" providerName="System.Data.SqlClient"/>
    </connectionStrings>
</configuration>